<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>โปรไฟล์ผู้ใช้</title>
</head>
<body>
    <h1>โปรไฟล์ของ <%= user.name %></h1>
    <img src="<%= user.profile_image %>" alt="Profile Image" style="width: 100px;">
    <p>ชื่อผู้ใช้: <%= user.name %></p>
    <p>เบอร์โทร: <%= user.phone %></p>
    <p>ที่อยู่1: <%= user.address_line1 %></p>
    <p>ที่อยู่2: <%= user.address_line2 %></p>
    
</body>
</html>
